# --- 파이썬 관련 ---
.venv/                
__pycache__/          
*.py[cod]            

# --- 데이터 및 데이터베이스 ---
*.db                    
mysql_data/             
postgres_data/         
*.csv                   
*.log                   

# --- 설정 및 보안 (가장 중요) ---
.env                    
config.json             
*.spec                  

# --- 도구 및 OS 관련 ---
.vscode/                
.idea/                  
.DS_Store               
Thumbs.db               